@charset "utf-8";

// https://liginc.co.jp/web/html-css/css/64459
%clearfix{
    zoom:1;
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}

%ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

%hidetext{
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

